<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @puppet.name %>
</p>

<p>
  <strong>Manifest path:</strong>
  <%= @puppet.manifest_path %>
</p>

<p>
  <strong>Modules path:</strong>
  <%= @puppet.modules_path %>
</p>

<p>
  <strong>Manifest file:</strong>
  <%= @puppet.manifest_file %>
</p>

<%= link_to 'Edit', edit_puppet_path(@puppet) %> |
<%= link_to 'Back', puppets_path %>
