<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @machine.description %>
</p>

<p>
  <strong>Vagrant File:</strong>
  <a href="data:text/plain;base64,<%= Base64.encode64(File.open(@machine.vagrant_path, 'r').read) %>">Download</a>
</p>

<p>
  <strong>Box:</strong>
  <%= @machine.box.name %>
</p>

<p>
  <strong>Network:</strong>
  <%= @machine.network.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @machine.key.name %>
</p>

<p>
  <strong>Logs:</strong>
  <div class="shift-right">
  <% for log in @machine.logs %>
	<p>
		<strong>Name:</strong>
		<%= link_to log.name, log_path(log) %>
	</p>
  <% end %>
  </div>
</p>

<p>
  <strong>Bashes:</strong>
  <div class="shift-right">
  <% for bash in @machine.bashes %>
	<p>
		<strong>Name:</strong>
		<%= bash.name %>
	</p>
  <% end %>
  </div>
</p>

<p>
  <strong>Chefs:</strong>
  <div class="shift-right">
  <% for chef in @machine.chefs %>
	<p>
		<strong>Name:</strong>
		<%= chef.name %>
	</p>
  <% end %>
  </div>
</p>

<p>
  <strong>Puppets:</strong>
  <div class="shift-right">
  <% for puppet in @machine.puppets %>
	<p>
		<strong>Name:</strong>
		<%= puppet.name %>
	</p>
  <% end %>
  </div>
</p>

<p>
  <strong>Status:</strong>
  <%= @machine.get_status.name %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
