<%= simple_form_for(@chef_machine) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :chef %>
    <%= f.association :machine %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
