<%= simple_form_for(@bash, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.file_field :raw %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
