<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', page_path('about') %></li>
  <li><%= link_to 'Boxes', boxes_path %></li>
  <li><%= link_to 'Keys', keys_path %></li>
  <li><%= link_to 'Bash Configs', bashes_path %></li>
  <li><%= link_to 'Chef Configs', chefs_path %></li>
  <li><%= link_to 'Puppet Configs', puppets_path %></li>
</ul>
